<div>
    <h3>{{cancion["artista"]}} </h3>
   <table class="tabla">
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>artista</th>
            <th>genero</th>
            <th>genero</th>
            <th>duracion</th>
        </tr>
        <tr>
            <td>{{cancion["id"]}}</td>
            <td>{{cancion["nombre"]}}</td>
            <td>{{cancion["artista"]}}</td>
            <td>{{cancion["genero"]}}</td>
            <td>{{cancion["genero"]}}</td>
            <td>{{cancion["duracion"]}}</td>
        </tr>

    </table>

</div>