{% include 'header.html' %}
{% include 'navbar.html' %}

<div class="container" style="margin-top:1em ">
    <form action="/detalles/new" method="post">

        <label>Id</label>
        <input type="text" name="id" class="form-control" placeholder="Id" required id="id">
        <br>
        <label>Id Playlist</label>
        <input type="text" name="id_playlist" class="form-control" placeholder="id_playlist" required id="id_playlist">
        <br>
        <label>id Cancion</label>
        <input type="text" name="id_cancion" class="form-control" placeholder="id_cancion" required id="id_cancion">
   <input type="submit">

    </form>


</div>



{% include 'footer.html' %}